*{
  margin: 0;
  padding: 0;
}

body{
  background-color: lightblue;
}

.container{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

#form{
  border: 3px solid #000;
  border-radius: 5px;
}

form{
  padding: 20px;
}

form *{
  display: block;
  margin-bottom: 20px;
}

input[type="text"], input[type="number"]{
  padding: 10px;
  border-radius: 10px;
}

#submit{
  margin: auto;
  padding: 10px 20px;
  border-radius: 10px;
}

/* regole table */
#content-table{
  flex-basis: 60%;
}

#table{
  width: 80%; 
  border: 3px solid #000;
  border-radius: 5px;
}

th, td{
  border-style: groove;
  padding: 10px;
  text-align: center;
  width: calc(100% / 4);
}

.fas.fa-times{
  cursor: pointer;
}

