*{
  margin: 0;
  padding: 0;
}

body{
  background-color: lightblue;
}

.container{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
}

#form{
  border: 3px solid #000;
  border-radius: 5px;
}

form{
  padding: 20px;
}

form *{
  display: block;
  margin-bottom: 20px;
}

input[type="text"], input[type="number"]{
  padding: 10px;
  border-radius: 10px;
}

#submit{
  margin: auto;
  padding: 10px 20px;
  border-radius: 10px;
}

#content-table{
  width: 400px;
  height: 500px;
  background-color: red;

}